node_modules
dist
.env
backend/.env
.DS_Store
coverage
.nyc_output
.c8_output
.devcontainer/.env
.vscode/settings.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
infra/**/backend.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
infra/modules/ecs_redeploy_on_secret_rotation/lambda.zip
